.login-page {
  width: 100%;
  height: 100vh;
  background-color: grey;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 72px;
  width: 100%;
  background-color: black;
  flex-wrap: wrap;
}
.nav {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__item {
  font-family: "OpenSans-Semibold";
  font-size: 14px;
  color: rgba(255, 255, 255, 255);
  text-decoration: none;
  padding: 5px;
  border-bottom: 0.3px solid transparent;
}

.nav__item:hover {
  color: rgba(156, 156, 156, 0.829);
  border-bottom: 0.3px solid white;
}

.login-page__main {
  height: calc(100% - 72px);
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(../images/login-page-background.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page__main-wrapper {
  display: flex;
  height: 500px;
  width: 1060px;
  justify-content: space-between;
  align-items: center;
}

.login-about-us {
  height: 80%;
  width: 514px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.login-form {
  background-color: green;
  height: 360px;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.logo-name img {
  height: 60px;
}

.project-tagline {
  text-transform: uppercase;
  font-size: 36px;
  color: white;
  font-family: "Raleway-Light";
}

.project-info {
  font-size: 16px;
  color: #ffffffa2;
  font-family: "Raleway-Light";
}

.btn-download {
  width: 135px;
  height: 42px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-family: "OpenSans-Semibold";
  font-size: 15px;
}

.login-divider {
  width: 74px;
  border-bottom: 2px solid white;
}

.login-form-header,
.login-form-submit {
  height: 54px;
}

.login-form-input {
  height: 84px;
}

.login-form-header {
  font-size: 20px;
  background-color: #f5f5f5;
  font-family: "OpenSans-Semibold";
  text-transform: capitalize;
  text-align: center;
  line-height: 3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.login-form-inputs {
  height: 252px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: white;
}

.login-form-inputs input {
  width: 285px;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 14px;
  color: black;
}

.login-form-inputs input::placeholder {
  color: #d6d6d6;
}

.login-form-header span {
  text-transform: uppercase;
  color: #ff9b51;
}

.login-form-submit {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ff9b51;
  border: none;
  font-family: "OpenSans-Semibold";
  color: white;
}

.social-media-header {
  width: 1070px;
  height: 105px;
  display: flex;
  background: white;
  box-shadow: rgba(156, 156, 156, 0.829);
}

.header-name {
  height: 100px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.social-name {
  font-weight: bolder;
  font-size: 20px;
  color: black;
}

.info-header {
  font-size: 14px;
  color: rgba(134, 135, 139, 255);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header-icons {
  height: 50px;
  width: 630px;
}

.features {
  display: flex;
  justify-content: center;
  height: 520px;
  align-items: center;
  background: #f5f5f5;
}

.features-page-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: 2;
  align-items: center;
  background: #f5f5f5;
  width: 1070px;
  height: 360px;
}

.features-tabs {
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;

  height: 336px;
  width: 132px;
}

.tab-1 {
  height: 111px;
  background: grey;
  margin-bottom: 1px;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: inline-flex;
  align-items: center;
  padding-left: 46px;
}

.tab-2 {
  height: 111px;
  background: #ff8b38;
  margin-bottom: 1px;
  color: white;
  display: inline-flex;
  align-items: center;
  padding-left: 46px;
}

.tab-3 {
  height: 111px;
  background: #ff8b38;
  margin-bottom: 1px;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: inline-flex;
  align-items: center;
  padding-left: 46px;
}

.tab--1 {
  font-family: "OpenSans-Semibold";
  text-transform: uppercase;
  color: white;
}
.tab--2 {
  font-family: "OpenSans-Semibold";
  text-transform: uppercase;
}
.tab--3 {
  font-family: "OpenSans-Semibold";
  text-transform: uppercase;
}

.features-info {
  flex-direction: column;
  display: flex;
  width: 400px;
  height: 310px;
  justify-content: space-between;
}

.heading {
  font-family: "OpenSans-Semibold";

  font-weight: 900;
  font-size: 20px;
  color: black;
}

.heading-desc-1,
.heading-desc-2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: rgba(134, 135, 139, 255);
}

.btn-download-2 {
  text-transform: capitalize;
  background: #ff8b38;
  border: 1px solid #ff8b38;
  color: white;
  font-family: "OpenSans-Semibold";
  font-size: 15px;
  width: 121px;
  height: 46px;
  border-radius: 3px;
}

.sub-list-section__main {
  display: flex;
  justify-content: center;
  height: 600px;
  align-items: center;
}

.sub-list-section__page {
  height: 400px;
  width: 1150px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
}

.sub-list__info {
  background: white;
  height: 360px;
  width: 470px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sub-list__heading {
  font-family: "OpenSans-Semibold";
  font-size: 20px;
  font-weight: bolder;
}

.sub-list__login-divider {
  width: 74px;
  border-bottom: 2px solid #ff8b38;
}

.sub-list-desc {
  color: rgba(134, 135, 139, 255);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.title-info__top,
.title-info__bottom {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #a9aaac;
}

@media screen and (max-width: 768px) {
}

@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../fonts/openSansSemibold.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-Light.ttf") format("truetype");
  font-weight: normal;
}
