.login-page {
  width: 100%;
  height: 100vh;
  background-color: grey;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 72px;
  width: 100%;
  background-color: black;
  flex-wrap: wrap;
}

.nav {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__item {
  font-family: "OpenSans-Semibold";
  font-size: 14px;
  color: rgba(255, 255, 255, 255);
  text-decoration: none;
  padding: 5px;
  border-bottom: 0.3px solid transparent;
}

.nav__item:hover {
  color: rgba(156, 156, 156, 0.829);
  border-bottom: 0.3px solid white;
}

.login-page__main {
  height: calc(100% - 72px);
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(../images/login-page-background.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page__main-wrapper {
  display: flex;
  height: 500px;
  width: 1060px;
  justify-content: space-between;
  align-items: center;
}

.login-about-us {
  height: 80%;
  width: 514px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.login-form {
  background-color: green;
  height: 360px;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.logo-name img {
  height: 60px;
}

.project-tagline {
  text-transform: uppercase;
  font-size: 36px;
  color: white;
  font-family: "Raleway-Light";
}

.project-info {
  font-size: 16px;
  color: #ffffffa2;
  font-family: "Raleway-Light";
}

.btn-download {
  width: 135px;
  height: 42px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-family: "OpenSans-Semibold";
  font-size: 15px;
}

.login-divider {
  width: 74px;
  border-bottom: 2px solid white;
}

.login-form-header,
.login-form-submit {
  height: 54px;
}

.login-form-input {
  height: 84px;
}

.login-form-header {
  font-size: 20px;
  background-color: #f5f5f5;
  font-family: "OpenSans-Semibold";
  text-transform: capitalize;
  text-align: center;
  line-height: 3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.login-form-inputs {
  height: 252px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: white;
}

.login-form-inputs input {
  width: 285px;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 14px;
  color: black;
}

.login-form-inputs input::placeholder {
  color: #d6d6d6;
}

.login-form-header span {
  text-transform: uppercase;
  color: #ff9b51;
}

.login-form-submit {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ff9b51;
  border: none;
  font-family: "OpenSans-Semibold";
  color: white;
}

.social-media__header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 105px;
}

.social-media__info {
  display: flex;
  width: 1100px;
  height: 54px;
  justify-content: space-between;
}

.social-name {
  font-family: "OpenSans-Bold";
  font-size: 20px;
  color: black;
  text-transform: capitalize;
}

.info-header {
  font-size: 14px;
  color: rgba(134, 135, 139, 255);
  width: 380px;
  font-family: "OpenSans";
  margin-top: 25px;
  margin-right: 50px;
  position: absolute;
}

.social-meadia__icons {
  display: flex;
  justify-content: space-between;
  width: 640px;
  height: 46px;
}

.social-meadia__icons li {
  background-image: url(../images/social-icons.png);
  height: inherit;
  width: 46px;
}

.facebook-icon {
  background-position: 0 0;
}

.twitter-icon {
  background-position: -88px 0;
}

.google-icon {
  background-position: -190px 0;
}

.pinterest-icon {
  background-position: -280px 0;
}

.instagram-icon {
  background-position: -380px 0;
}

.other-social-icon {
  background-position: -488px 0;
}

.connect-icon {
  background-position: -588px 0;
}

.features {
  display: flex;
  justify-content: center;
  height: 520px;
  align-items: center;
  background: #f5f5f5;
}

.features-page-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: 2;
  align-items: center;
  background: #f5f5f5;
  width: 1070px;
  height: 360px;
}

.features-tabs {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 336px;
  width: 132px;
}

.features-tabs__tab {
  height: 111px;
  color: white;
  display: inline-flex;
  align-items: center;
  padding-left: 46px;
  border-bottom: 1px solid #f5f5f5;
  font-family: "OpenSans-Semibold";
  text-transform: uppercase;
  font-size: 15px;
  background: #333333;
}

.is-current-tab {
  background: #ff8b38;
}

.features-tabs__tab:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.features-tabs__tab:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.features-info {
  flex-direction: column;
  display: flex;
  width: 400px;
  height: 310px;
  justify-content: space-between;
}

.heading {
  font-family: "OpenSans-Bold";

  font-size: 20px;
  color: black;
}

.heading-desc-1,
.heading-desc-2 {
  font-family: "OpenSans";
  font-size: 14px;
  color: rgba(134, 135, 139, 255);
}

.features-download__button {
  text-transform: capitalize;
  background: #ff8b38;
  border: 1px solid #ff8b38;
  color: white;
  font-family: "OpenSans-Semibold";
  font-size: 15px;
  width: 121px;
  height: 46px;
  border-radius: 3px;
}

.sub-list-section__main {
  display: flex;
  justify-content: center;
  height: 600px;
  align-items: center;
}

.sub-list-section__page {
  height: 400px;
  width: 1150px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.sub-list__info {
  background: white;
  height: 360px;
  width: 470px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sub-list__heading {
  font-family: "OpenSans-Bold";
  font-size: 20px;
  font-weight: bolder;
}

.sub-list__login-divider {
  width: 74px;
  border-bottom: 2px solid #ff8b38;
}

.sub-list-desc {
  font-family: "OpenSans";
  color: rgba(134, 135, 139, 255);
  font-size: 14px;
}

.title-info__top,
.title-info__bottom {
  display: flex;
}

.title-info__desc-top,
.title-info__desc-bottom {
  width: 385px;
  padding-left: 30px;
  flex-direction: column;
  height: 65px;
  justify-content: space-between;
  display: flex;
}

.title-info__heading-top,
.title-info__heading-bottom {
  text-transform: capitalize;
  font-size: 14px;
  font-family: "OpenSans-Semibold";
}

.title-info_heading-desc-top,
.title-info_heading-desc-bottom {
  font-size: 14px;
  font-family: "OpenSans";
  color: rgba(134, 135, 139, 255);
}

.standart-picture-section__main {
  display: flex;
  width: auto;
  height: 520px;
  justify-content: center;
  background: #f5f5f5;
}

.standart-picture-section__page {
  display: flex;
  width: 1070px;
  height: 400px;

  justify-content: space-between;
}

.standart-picture-section__desc {
  display: flex;
  justify-content: space-evenly;

  width: 460px;
  flex-direction: column;
  height: 250px;
}

.standart-picture-section__heading {
  font-size: 20px;
  color: black;
  font-family: "OpenSans-Bold";
  text-transform: capitalize;
}

.standart-picture-section__divider {
  width: 74px;
  border-bottom: 2px solid #ff8b38;
}

.standart-picture-section__info {
  font-family: "OpenSans";
  font-size: 14px;
  color: #8e8f93;
}

.why-this-is-awesome {
  height: 520px;
  width: auto;
}

.why_this-is-awesome__header {
  display: flex;
  height: 210px;
  justify-content: center;
  align-items: flex-end;
}

.why_this-is-awesome__header-page {
  display: flex;
  width: 410px;
  height: 170px;
  flex-direction: column;
  justify-content: space-evenly;
}

.why-this-is-awesome__heading {
  font-size: 36px;
  font-family: "Raleway-Regular";
  text-transform: uppercase;
}

.why-this-is-awesome__divider {
  width: 74px;
  border-bottom: 2px solid #ff8b38;
  align-self: center;
}

.why-this-is-awesome__heading-info {
  font-size: 14px;
  font-family: "OpenSans";
  align-self: center;
  color: rgba(134, 135, 139, 255);
}

.why-this-is-awesome__page {
  display: flex;
  height: 240px;
  width: auto;

  justify-content: center;
}

.why-this-is-awesome__page-info {
  width: 1070px;
  height: 240px;
  justify-content: space-between;
  display: flex;
}

.thoughtful-design,
.easy-to-customize,
.well-crafted {
  background: white;
  display: flex;
  width: 354px;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.thoughtful-design__heading,
.well-crafted__heading,
.easy-to-customize__heading {
  text-transform: capitalize;
  font-family: "OpenSans-Bold";
  font-size: 20px;
}

.thoughtful-design__info,
.well-crafted__info,
.easy-to-customize__info {
  font-family: "OpenSans";
  font-size: 14px;
  width: 333px;
  text-align: center;
  color: rgba(134, 135, 139, 255);
}

.pricing-options__header {
  height: 210px;
  width: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: #f5f5f5;
}

.pricing-options__title {
  display: flex;
  height: 105px;
  width: 365px;

  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.pricing-options__title-info {
  text-transform: uppercase;
  font-family: "Raleway-Light";
  font-size: 36px;
}

.pricing-options__divider {
  width: 74px;
  border-bottom: 2px solid #ff8b38;
}

.pricing-options__title-desc {
  font-family: "OpenSans";
  font-size: 14px;
  color: rgba(134, 135, 139, 255);
  text-align: center;
}

.pricing-options__page {
  width: auto;
  height: 660px;
  display: flex;
  background: #f5f5f5;
  justify-content: center;
  align-items: center;
}

.pricing-options__content {
  display: flex;
  height: 500px;
  width: 1100px;
  background: #f5f5f5;
  justify-content: space-between;
  align-items: flex-end;
}

.basic-price__card {
  display: flex;
  flex-direction: column;
  height: 465px;
  width: 340px;
  background: grey;
}

.is-current-pricing-card {
  height: 500px;
}

.basic-price-middle__heading,
.basic-price__heading {
  width: 340px;
  height: 59px;
  line-height: 59px;
  border-bottom: 1px solid white;
  background: #333333;
  text-align: center;
  font-size: 20px;
  font-family: "OpenSans-Bold";
  color: rgba(255, 255, 255, 255);
  text-transform: capitalize;
}

.professional-price__win {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  height: 191px;
  background: #333333;
}

.enterprice-price__win,
.basic-price__win {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 151px;
  background: #333333;
  border-bottom: 3px solid #ff8b38;
}

.price-info {
  font-family: "OpenSans-Bold";
  color: #7a7a7a;
  text-transform: capitalize;
  font-size: 14px;
  font-style: italic;
}

.price__offer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 40px;
  background: #ff8b38;
}

.price-text__offer {
  text-transform: uppercase;
  font-family: "OpenSans-Bold";
  font-size: 14px;
  color: rgba(255, 255, 255, 255);
}

.price-offers{
  display: flex;
  width: 340px;
  height: 248px;
  background: #f5f5f5;
  flex-direction: column;
  justify-content: space-between;
}

.offers {
  display: flex;
  background: #ffffff;
  width: 340px;
  height: 40px;
  border-bottom: 1px solid none;
  justify-content: center;
  align-items: center;
}

.info {
  font-family: "OpenSans";
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(134, 135, 139, 255);


  
  
}




.customers-reviews__page {
  display: flex;
  width: auto;
  height: 590px;
  flex-direction: column;
}

.customers-reviews__heading-page {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: 200px;

  justify-content: center;
  align-items: flex-end;
}

.customers-reviews__heading-content {
  display: flex;
  width: 645px;
  height: 115px;
  background: white;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.customers__heading-title {
  color: rgba(33, 33, 33, 255);
  font-size: 36px;
  font-family: "Raleway-Light";
  text-transform: uppercase;
}

.customers__heading-divider {
  width: 74px;
  border-bottom: 2px solid #ff8b38;
}

.customers__heading-desc {
  font-size: 14px;
  font-family: "OpenSans";
  color: rgba(134, 135, 139, 255);
}

.customers-reviews__main-page {
  display: flex;

  height: 390px;
  width: auto;
  align-items: center;
  justify-content: center;
}

.customers-reviews__main-content {
  display: flex;
  width: 1100px;
  height: 230px;

  justify-content: space-between;
}

.customers-reviews__jeremy-profile,
.customers-reviews__john-profile,
.customers-reviews__susan-profile {
  display: flex;
  background: white;
  width: 275px;
  height: 230px;
  justify-content: space-between;
  flex-direction: column;
}

.customers-reviews__jeremy-review,
.customers-reviews__john-review,
.customers-reviews__susan-review {
  background-image: url(../images/background-image-for-text.png);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 275px;
  height: 147px;
}

.customers-reviews__jeremy-text,
.customers-reviews__john-text,
.customers-reviews__susan-text {
  font-size: 14px;
  font-family: "OpenSans";
  color: rgba(134, 135, 139, 255);
  font-style: italic;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.customers-reviews__jeremy-icon,
.customers-reviews__john-icon,
.customers-reviews__susan-icon {
  display: flex;
  flex-direction: row;
}

.customers-reviews__jeremy,
.customers-reviews__john,
.customers-reviews__susan {
  flex-direction: column;
  display: flex;
}

.customers__jeremy-name,
.customers__john-name,
.customers__susan-name {
  font-size: 20px;
  font-family: "OpenSans-Bold";
  color: rgba(51, 51, 51, 255);
  text-transform: capitalize;
  margin-top: 10px;
  margin-left: 15px;
}

.customers__jeremy-cfl,
.customers__john-cfl,
.customers__susan-cfl {
  text-transform: capitalize;
  font-family: "OpenSans";
  font-size: 14px;
  color: rgba(134, 135, 139, 255);
  margin-top: 10px;
  margin-left: 15px;
}

.stylish-design__page {
  display: flex;
  width: auto;
  height: 320px;
  background-image: url("../images/stylish-design__img.png");
  background-color: black;
  align-items: center;
  justify-content: center;
}

.stylish-design__content {
  display: flex;
  height: 185px;
  width: 735px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.stylish-design__heading {
  font-size: 36px;
  font-family: "Raleway-Light";
  color: rgba(255, 255, 255, 255);
  text-transform: uppercase;
}

.stylish-design__divider {
  width: 74px;
  border-bottom: 2px solid white;
}

.stylish-design__desc {
  font-size: 16px;
  font-family: "Raleway-Regular";
  color: rgba(255, 255, 255, 255);
  text-align: center;
}

.stylish-design__button {
  width: 135px;
  height: 42px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-family: "OpenSans-Semibold";
  font-size: 15px;
}

.contacts_page {
  display: flex;
  width: auto;
  height: 620px;
  flex-direction: column;
}

.contacts-page__heading-page {
  display: flex;
  width: auto;
  height: 200px;

  justify-content: center;
  align-items: flex-end;
}

.contacts-page__heading {
  display: flex;
  width: 360px;
  height: 110px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.contacts-page__title {
  text-transform: uppercase;
  font-size: 36px;
  font-family: "Raleway-Light";
  color: rgba(33, 33, 33, 255);
}

.contacts-divider {
  width: 74px;
  border-bottom: 2px solid #ff8b38;
}

.contacts-desc {
  font-family: "OpenSans";
  font-size: 14px;
  color: rgba(134, 135, 139, 255);
  text-align: center;
}

.contacts-page__main {
  display: flex;
  width: auto;
  height: 250px;

  justify-content: center;
  align-items: center;
}

.contacts-page__main-content {
  display: flex;
  width: 1100px;
  height: 155px;

  justify-content: space-between;
}

.contacts-form-inputs {
  height: 155px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: white;
}

.contacts-form-inputs input {
  width: 527px;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 14px;
  color: black;
}

.contacts-form-inputs,
.contacts-message-inputs,
input::placeholder {
  color: #d6d6d6;
}

.contacts-message-inputs {
  height: 155px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: white;
}

.contacts-message-inputs input {
  width: 527px;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  padding-left: 10px;
  padding-bottom: 137px;
  font-size: 14px;
  color: black;
}

.contacts-button {
  align-self: center;
}

.contacts-message__button {
  text-transform: capitalize;
  background: #ff9b51;
  border: 1px solid #ff9b51;
  color: white;
  font-family: "OpenSans-Semibold";
  font-size: 15px;
  width: 148px;
  height: 46px;
  border-radius: 3px;
}

.footer-wrapper {
  display: flex;
  width: inherit;
  height: 80px;
  background: black;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.footer-contacts {
  background: black;
  width: 317px;
  height: 23px;
}

.footer__icons {
  display: flex;
  justify-content: space-between;
  width: 317px;
  height: 23px;
}

.footer__icons li {
  background-image: url(../images/footer-icons.png);
  height: inherit;
  width: 22px;
}

.footer-facebook-icon {
  background-position: 0 0;
}

.footer-tweeter-icon {
  background-position: -44px 0;
}

.footer-google-icon {
  background-position: -95px 0;
}

.footer-pinterest-icon {
  background-position: -141px 0;
}

.footer-instagram-icon {
  background-position: -191px 0;
}

.footer-other-social-icon {
  background-position: -245px 0;
}

.footer-connect-icon {
  background-position: -295px 0;
}

.footer-axure-text {
  font-size: 12px;
  font-family: "OpenSans";
  color: rgba(189, 189, 189, 255);
}

. @media screen and (max-width: 768px) {
}

@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../fonts/openSansSemibold.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-Light.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans-SemiboldItalic";
  src: url("../fonts/OpenSans-SemiboldItalic.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans.ttf") format("truetype");
  font-weight: normal;
}
